
<ion-toolbar>
  <ion-title>
    DATOS PERSONALES
  </ion-title>
</ion-toolbar>



<ion-list>

  <!-- <ion-list-header>
    Datos
  </ion-list-header> -->

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input type="text" [(ngModel)]="surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input type="text" [(ngModel)]="age"></ion-input>
  </ion-item>

</ion-list>

<ion-button (click)="escribirDatos()">Terminar</ion-button>

<div>{{datos}}</div>
<hr/>
<ion-toolbar>
  <ion-title>
    REGISTRO
  </ion-title>
</ion-toolbar>

<ion-list>

  <!-- <ion-list-header>
    Registrarse
  </ion-list-header> -->

  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Repetir Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password2"></ion-input>
  </ion-item>

</ion-list>

<ion-button (click)="registrarse()">Registrarse</ion-button>


<ion-toolbar>
  <ion-title>
    IDENTIFICACIÓN
  </ion-title>
</ion-toolbar>


<ion-list>

  <!-- <ion-list-header>
    Identificarse
  </ion-list-header> -->

  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="idname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="pw"></ion-input>
  </ion-item>


</ion-list>

<ion-button (click)="identificarse()">Identificarse</ion-button>
