<ion-header>
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Charmander</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Charmeleon</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Charizard</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bulbasaur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ivysaur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Venusaur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Squirtle</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Wartortle</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Blastoise</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
